@tailwind base;
@tailwind components;
@tailwind utilities;

.trans-center {
  @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
}

.transall {
  @apply transition-all ease-in-out;
}

.flexc {
  @apply flex items-center justify-center;
}
.flexs {
  @apply flex items-center justify-start;
}
.flexe {
  @apply flex items-center justify-end;
}

@keyframes pulseku {
  50% {
    opacity: 0.5;
  }
}
.animate-pulseku {
  animation: pulseku 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes spinku {
  to {
    transform: rotate(360deg);
  }
}
.animate-spinku {
  animation: spinku 3s linear infinite;
}

.text-arabnya {
  font-family: "Noto Naskh Arabic", serif;
  @apply font-semibold;
}
